<!--
/* -------------------------------------------------------------
This file is part of FreeNATS
FreeNATS is (C) Copyright 2008 PurplePixie Systems and subject
to the GNU public licence. Please see www.purplepixie.org/freenats
for more information.
-------------------------------------------------------------- */

.al-1 { color: black; }
.al0 { color: green; }
.al1 { color: orange; }
.al2 { color: red; }

-->